<div class="card card-white">
  <div class="media">
    <div class="media__image">
      <img src="./images/image-daniel.jpg" alt="A Similing Man name Daniel" />
    </div>
    <div class="media__body">
      <h3 class="media__name">Daniel Clifford</h3>
      <p class="media__graduate">Verified Graduate</p>
    </div>
  </div>
  <blockquote class="quote">
    <h1 class="quote__heading">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat molestias
      voluptatem, autem tempore doloribus, similique rerum, ipsa ad iusto esse
      id optio architecto perferendis repudiandae adipisci. Saepe maiores
      placeat nostrum.
    </h1>
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint neque nemo,
      molestiae necessitatibus eius quis officia fugit dolor iste modi.
    </p>
  </blockquote>
</div>
